In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# csv.zip = pd.read_csv('... .zip')
# csv.zip.head(3)

In [52]:
# csv.zip = pd.read_excel('.xlsx', sheet_name = 0)
# csv.zip.head(3)

In [53]:
# создадим несколько списвом и массивов Numpy с информацией о семи странах мира

country = (['Russia', 'Chili', 'Portugal', 'Spain', 'USA', 'Kazahstan', 'Ukraina'])

In [146]:
capital = (['Moscow', 'Santhago', 'Lisabon', 'Madrid', 'Vashington', 'Astana', 'Kiev'])

In [147]:
# млн. человек
population = ([1250 , 5432 , 1245 , 6721 , 9982 , 4564 , 4444])

In [148]:
# млн. кв. км.
area = ([0.5 , 0.2 , 0.4 , 1.2 , 0.3 , 0.9, 0.7])

In [149]:
# выход к морю
sea = [1] * 5 + [0, 1]

In [150]:
# создадим пустой словарь
countries_dict = {}

# превратим эти списки в значения словаря,
# одновременно снабдив необходимыми ключами
countries_dict['country'] = country
countries_dict['capital'] = capital
countries_dict['population'] = population
countries_dict['area'] = area
countries_dict['sea'] = sea

In [151]:
countries_dict

{'country': ['Russia',
  'Chili',
  'Portugal',
  'Spain',
  'USA',
  'Kazahstan',
  'Ukraina'],
 'capital': ['Moscow',
  'Santhago',
  'Lisabon',
  'Madrid',
  'Vashington',
  'Astana',
  'Kiev'],
 'population': [1250, 5432, 1245, 6721, 9982, 4564, 4444],
 'area': [0.5, 0.2, 0.4, 1.2, 0.3, 0.9, 0.7],
 'sea': [1, 1, 1, 1, 1, 0, 1]}

In [152]:
# создадим датафрейм
countries = pd.DataFrame(countries_dict)
countries

     country     capital  population  area  sea
0     Russia      Moscow        1250   0.5    1
1      Chili    Santhago        5432   0.2    1
2   Portugal     Lisabon        1245   0.4    1
3      Spain      Madrid        6721   1.2    1
4        USA  Vashington        9982   0.3    1
5  Kazahstan      Astana        4564   0.9    0
6    Ukraina        Kiev        4444   0.7    1

In [153]:
# внешнее измерение будет столбцами, внутренее - строками
arr = np.array([[1, 1, 1],
               [2, 2, 2],
               [3, 3, 3]])
pd.DataFrame(arr)

   0  1  2
0  1  1  1
1  2  2  2
2  3  3  3

In [154]:
# через атрибутт columтs можно посмотреть название столбцов
countries.columns

Index(['country', 'capital', 'population', 'area', 'sea'], dtype='object')

In [155]:
columns = ['country', 'capital', 'population', 'area', 'sea']

In [156]:
# атрибут index показывает, каким образом идентифицируются строки
countries.index

RangeIndex(start=0, stop=7, step=1)

In [157]:
# через values мы видим сами значения
countries.values

array([['Russia', 'Moscow', 1250, 0.5, 1],
       ['Chili', 'Santhago', 5432, 0.2, 1],
       ['Portugal', 'Lisabon', 1245, 0.4, 1],
       ['Spain', 'Madrid', 6721, 1.2, 1],
       ['USA', 'Vashington', 9982, 0.3, 1],
       ['Kazahstan', 'Astana', 4564, 0.9, 0],
       ['Ukraina', 'Kiev', 4444, 0.7, 1]], dtype=object)

In [158]:
# выведем описание индекса датафрейма через атрибут axes[0] (это оси)
countries.axes[0]

RangeIndex(start=0, stop=7, step=1)

In [159]:
# axes[1] выводит названия столбцов
countries.axes[1]

Index(['country', 'capital', 'population', 'area', 'sea'], dtype='object')

In [160]:
# также можно посмотреть количество измерений, размерность и общее количество элементов
countries.ndim, countries.shape, countries.size

(2, (7, 5), 35)

In [161]:
# атрибут dtypes выдает типы данных каждого столбца (делается в первую очередь)
countries.dtypes

country        object
capital        object
population      int64
area          float64
sea             int64
dtype: object

In [162]:
# также можно посмотреть объем занимаемоц памяти по столбам в байтах
countries.memory_usage()

Index         132
country        56
capital        56
population     56
area           56
sea            56
dtype: int64

In [163]:
# в датафрейме можно задать собственный индекс (например, коды стран)

custom_index = (['RU', 'CH', 'PR', 'SP', 'US', 'KZ', 'UK'])

In [164]:
# для этого при создании датафрейма используется параметр index

countries_index = pd.DataFrame(countries_dict, index = custom_index)
countries_index

      country     capital  population  area  sea
RU     Russia      Moscow        1250   0.5    1
CH      Chili    Santhago        5432   0.2    1
PR   Portugal     Lisabon        1245   0.4    1
SP      Spain      Madrid        6721   1.2    1
US        USA  Vashington        9982   0.3    1
KZ  Kazahstan      Astana        4564   0.9    0
UK    Ukraina        Kiev        4444   0.7    1

In [165]:
# этот индекс можно сбросить
# параметр inplace = True сохраняет изменения

countries_index.reset_index(inplace = True)
countries_index

  index    country     capital  population  area  sea
0    RU     Russia      Moscow        1250   0.5    1
1    CH      Chili    Santhago        5432   0.2    1
2    PR   Portugal     Lisabon        1245   0.4    1
3    SP      Spain      Madrid        6721   1.2    1
4    US        USA  Vashington        9982   0.3    1
5    KZ  Kazahstan      Astana        4564   0.9    0
6    UK    Ukraina        Kiev        4444   0.7    1

# Другие форматы

In [166]:
# получившийся датафрейм можно преобразовать в словарь
print(countries.to_dict())

{'country': {0: 'Russia', 1: 'Chili', 2: 'Portugal', 3: 'Spain', 4: 'USA', 5: 'Kazahstan', 6: 'Ukraina'}, 'capital': {0: 'Moscow', 1: 'Santhago', 2: 'Lisabon', 3: 'Madrid', 4: 'Vashington', 5: 'Astana', 6: 'Kiev'}, 'population': {0: 1250, 1: 5432, 2: 1245, 3: 6721, 4: 9982, 5: 4564, 6: 4444}, 'area': {0: 0.5, 1: 0.2, 2: 0.4, 3: 1.2, 4: 0.3, 5: 0.9, 6: 0.7}, 'sea': {0: 1, 1: 1, 2: 1, 3: 1, 4: 1, 5: 0, 6: 1}}

In [167]:
# массив numpy
countries.to_numpy()

array([['Russia', 'Moscow', 1250, 0.5, 1],
       ['Chili', 'Santhago', 5432, 0.2, 1],
       ['Portugal', 'Lisabon', 1245, 0.4, 1],
       ['Spain', 'Madrid', 6721, 1.2, 1],
       ['USA', 'Vashington', 9982, 0.3, 1],
       ['Kazahstan', 'Astana', 4564, 0.9, 0],
       ['Ukraina', 'Kiev', 4444, 0.7, 1]], dtype=object)

In [168]:
# или поместить в файл
# по умолчанию, индекс также станет часть .csv файла
# параметр index = False позволит этого избежать
countries.to_csv('countries.csv', index = False)

In [169]:
print(countries.population.to_list())

[1250, 5432, 1245, 6721, 9982, 4564, 4444]

# Создание Series

In [170]:
countries

     country     capital  population  area  sea
0     Russia      Moscow        1250   0.5    1
1      Chili    Santhago        5432   0.2    1
2   Portugal     Lisabon        1245   0.4    1
3      Spain      Madrid        6721   1.2    1
4        USA  Vashington        9982   0.3    1
5  Kazahstan      Astana        4564   0.9    0
6    Ukraina        Kiev        4444   0.7    1

In [171]:
# создадим список с названиями стран
country_list = ['Russia', 'Chili', 'Portugal', 'Spain', 'USA', 'Kazahstan', 'Ukraina']

In [172]:
# передадим его в функцию pd.Series()
country_series = pd.Series(country_list)
country_series

0       Russia
1        Chili
2     Portugal
3        Spain
4          USA
5    Kazahstan
6      Ukraina
dtype: object

In [173]:
# по числовому индексу можно получитьь доступ к первому элементу
country_series[5]

'Kazahstan'

In [174]:
country_dict = {
    'RU': 'Russia',
    'CH': 'Chili',
    'PR': 'Portugal',
    'SP': 'Spain',
    'US': 'USA',
    'KZ': 'Kazahstan',
    'UK': 'Ukraina'
}

In [175]:
country_series = pd.Series(country_dict)
country_series

RU       Russia
CH        Chili
PR     Portugal
SP        Spain
US          USA
KZ    Kazahstan
UK      Ukraina
dtype: object

In [176]:
country_series['KZ']

'Kazahstan'

# Доступ к строкам и столбам

In [177]:
countries

     country     capital  population  area  sea
0     Russia      Moscow        1250   0.5    1
1      Chili    Santhago        5432   0.2    1
2   Portugal     Lisabon        1245   0.4    1
3      Spain      Madrid        6721   1.2    1
4        USA  Vashington        9982   0.3    1
5  Kazahstan      Astana        4564   0.9    0
6    Ukraina        Kiev        4444   0.7    1

In [178]:
# мы можем получить доступ к названиям стлбцов с помощью циклов for
for column in countries:
    print(column)

country
capital
population
area
sea

In [179]:
# метод .iterrows() возвращает индекс строки и ее содержимое в формате Series
for index, row in countries.iterrows():
    print(index)
    print(row)
    print('...')

0
country       Russia
capital       Moscow
population      1250
area             0.5
sea                1
Name: 0, dtype: object
...
1
country          Chili
capital       Santhago
population        5432
area               0.2
sea                  1
Name: 1, dtype: object
...
2
country       Portugal
capital        Lisabon
population        1245
area               0.4
sea                  1
Name: 2, dtype: object
...
3
country        Spain
capital       Madrid
population      6721
area             1.2
sea                1
Name: 3, dtype: object
...
4
country              USA
capital       Vashington
population          9982
area                 0.3
sea                    1
Name: 4, dtype: object
...
5
country       Kazahstan
capital          Astana
population         4564
area                0.9
sea                   0
Name: 5, dtype: object
...
6
country       Ukraina
capital          Kiev
population       4444
area              0.7
sea                 1
Name: 6, dtype: object
...

In [180]:
# получить доступ к данным ожной строки можно по индексу Series
for _, row in countries.iterrows():
    print(row['capital'] + " is the capital of " + row['country'])

Moscow is the capital of Russia
Santhago is the capital of Chili
Lisabon is the capital of Portugal
Madrid is the capital of Spain
Vashington is the capital of USA
Astana is the capital of Kazahstan
Kiev is the capital of Ukraina

In [181]:
for _, row in countries.iterrows():
    print(row['capital'] + " is the capital of " + row['country'])
    break

Moscow is the capital of Russia

# Доступ к столбцам

In [183]:
# в отличие от Series, в датафрейме через квадратные скобки
# мы получаем доступ к столбцам
countries['capital']

0        Moscow
1      Santhago
2       Lisabon
3        Madrid
4    Vashington
5        Astana
6          Kiev
Name: capital, dtype: object

In [184]:
# можно также узнать название столбца через точку
# однако в этом случве название не должно содержать пробелов
countries.capital

0        Moscow
1      Santhago
2       Lisabon
3        Madrid
4    Vashington
5        Astana
6          Kiev
Name: capital, dtype: object

In [188]:
# onдельные столбцы в датафрейме имеют тип данных Series
type(countries.capital)

pandas.core.series.Series

In [192]:
countries[['capital']]

      capital
0      Moscow
1    Santhago
2     Lisabon
3      Madrid
4  Vashington
5      Astana
6        Kiev

In [196]:
# и так мы можем получить доступ к нескольким столбцам
countries[['country', 'capital', 'sea']]

     country     capital  sea
0     Russia      Moscow    1
1      Chili    Santhago    1
2   Portugal     Lisabon    1
3      Spain      Madrid    1
4        USA  Vashington    1
5  Kazahstan      Astana    0
6    Ukraina        Kiev    1

In [197]:
# доступ к столбцам с параметром items
countries.filter(items = ['country', 'capital'])

     country     capital
0     Russia      Moscow
1      Chili    Santhago
2   Portugal     Lisabon
3      Spain      Madrid
4        USA  Vashington
5  Kazahstan      Astana
6    Ukraina        Kiev

In [205]:
# доступ к строкам можно получить через срез индекса (левая скобка - включительно, вторая - не включительно, нумерация с 0)
countries[1:5]

    country     capital  population  area  sea
1     Chili    Santhago        5432   0.2    1
2  Portugal     Lisabon        1245   0.4    1
3     Spain      Madrid        6721   1.2    1
4       USA  Vashington        9982   0.3    1